version: '3.9'

services:
  backend:
    build: ./backend/backend
    container_name: backend
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

