/* Layout.css */
.layout-container {
    display: flex;
    min-height: 100vh;
    background: #f9fafb; /* ljus bakgrund för content */
    font-family: "Inter", sans-serif;
}

.layout-content {
    flex: 1;
    padding: 30px 40px;
    background: #f9fafb;
    overflow-y: auto;
}
