.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal {
  padding: 20px;
  height: 560px;
  width: 450px;
  background-color: white;
}

.inputArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;
}



