* {
    box-sizing: border-box
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

body {
    margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
