
.field {
    width: 100%;
    border-radius: 3px;
    background-color: rgba(245, 245, 245, 1);
    padding: 10px;
    border: 2px solid transparent;

    display: flex;
    flex-direction: column;
    transition: border 150ms, background-color 150ms;

    box-sizing: border-box;
}


.field:hover {
    background-color: rgba(230, 230, 230, 1);
    border: 2px solid rgba(128, 128, 128, 0.2);
}


.field:focus-within {
    border: 2px solid #1f1f1f;
    background-color: white;
}


.field input {
    flex: 1;
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    min-height: 1em;
    box-sizing: border-box;
}
