.sidebar {
    background: #121212;
    position: fixed;
    width: 250px;
    height: 100vh;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.linkText {
    color: white;
    text-decoration: none;
}

.link {
    margin-bottom: 12px;
}
.link:last-child {
    margin-bottom: 0;
}

.link:hover {
    background-color: grey;
}



