.sidebar {
    width: 260px;
    min-height: 100vh;
    background: #121212;
    color: #fff;
    padding: 20px;
    border-right: 1px solid #222;
}

.sidebar h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 600;
}

.nav-link {
    color: #bbb !important;
    padding: 10px 5px;
    border-radius: 8px;
    transition: 0.2s;
    font-size: 1.1rem;
}

.nav-link:hover {
    background: #1e1e1e;
    color: #fff !important;
}

.nav-link.active {
    background: #3a3a3a;
    color: #fff !important;
}